/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

li {
  display: inline;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: rgba(14, 12, 37);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/*  --------------------- Form -----------------------  */
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px 0 10px 0;
  color: rgba(213, 216, 230);
  min-width: 40px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-indent: 25px;
  border-radius: 5px;
  border-style: none;
  border: 2px solid rgba(213, 216, 230)
}

input::placeholder {
  color: rgba(213, 216, 230)
}

/* ------------------------------ Span ------------------------------  */
span {
  color:rgb(248, 137, 27);
  font-family: 'Lato', sans-serif;
}

.btn {
  background: rgba(248, 137, 27);
  color: white;
  padding: 9px 25px 9px 25px;
  font-size: .9em;
  font-family: 'Lato', sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
  height: 50px;
}

nav {
  width: 60%;
  float: right;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 50px 0 0;  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* --------------------------- Navigation -------------------------------- */

.logo {
  float: left;
  padding: 0 0 0 10%;
}

nav li, nav a {
  color: rgba(14, 12, 37)
}

nav a {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

nav a:hover {
  font-weight: bold;
}

.button {
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: bold;
  background: none;
  text-decoration: none;
  padding: 7px 20px;
  border: 3px solid #fff;
  color: #fff;
}

.button:hover {
  background: rgba(255, 255, 255, .2);
}

.buttondark {
  background: rgb(44, 174, 218);
  border: 3px solid rgb(44, 174, 218);
}

.buttondark:hover {
  background: rgb(35, 144, 180);
  border: 3px solid rgb(35, 144, 180);
}

/* --------------------------- Main -------------------------------- */
main {
  background: url('images/maingraphic.png');
  background-size: cover;
  height: 100vh;
}

main section {
  /* background: pink; */
  clear: both;
  width: 50%;
  margin: 3% 0;
  padding-left: 10%;
}

main section i {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  padding-right: 3px;
}

h1 {
  font-size: 4em;
  line-height: 1.15em;
  padding-bottom: .5em;
  width: 100%;
}

main section p {
  padding-bottom: 32px;
}

.socialMedia li {
  padding-right: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

/* --------------------------- About Us -------------------------------- */

.aboutUs {
  background: white;
}
.guac {
  background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 90%), url('images/chipsandguac.jpg');
  background-size: cover;
  width: 40%;
  height: 100vh;
  float: left;
}

.aboutUs section + section {
  width: 60%;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, rgba(255,255,255,1) 60%), url('images/spices.jpg') no-repeat; */
  /* background: lemonchiffon; */
  background-size: contain;
  background-position-x: right;
  float: left;
  height: 100vh;
  padding: 3% 3% 5% 3%;
}

h3 {
  font-size: 2.75em;
  padding: 0 0 3% 0;
}

.aboutUs p {
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  color:rgba(14, 12, 37);
  margin-bottom: 15px;
  
}

.aboutUs p + p {
  margin-bottom: 50px;
}

.aboutUs span {
  text-align: left;
}

.aboutUs .btn {
  margin-top: 25px;
}

/* --------------------------- Order -------------------------------- */

.order h2, .order ul {
  text-align: center;
}

.order h2 {
  font-size: 3em;
  padding-bottom: 2.5%;
}

.order ul a {
  color: rgba(14, 12, 37);
  font-family: 'Lato', sans-serif;
}

.order ul {
  border-bottom: 1px solid grey;
  width: 45%;
  display: flex;
  margin-left: 28%;
  margin-bottom: 5%;
}

.order li {
  padding: 15px 28px;
}

span {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 2%;
}

.order {
  width: 100%;
  float: left;
  padding: 5% 0;
  background: rgba(242, 246, 247)
}

.foodPics {
  width: 225px;
  height: 275px;
  background: url('');
  background-size: cover;
  margin: 2% 0;
}
.foodPicsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0% 10%;
}

/* .foodPics + .foodPics {
  margin: 0 0 0 35px;
}

.start {
  margin-left: 16%;
} */

/* --------------------------- Book Table -------------------------------- */

.bookTable {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, .95) 50%, rgba(255,255,255,.4) 100%), url('images/tacos.jpeg'); */
  background: linear-gradient(165deg, rgba(26, 164, 191, 0.9) 0%, rgba(48,208,213,1) 100%);
  background-size: cover;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  padding: 0 0;
  width: 100%;
  height: 100vh;
}

.logocontact {
  padding: 0;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  /* font-size: 1.8em;
  font-weight: bold; */
}

.first {
  padding-bottom: 5%;
}

.govertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 90vh;
}

.imagecontainer {
  background: url('images/foodtable.jpeg');
  background-size: cover;
  width: 50%;
  height: 100vh;
}

.buttondiv {
  display: flex;
  align-items: center;
  width: 90%;
}

.buttondiv ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* --------------------------- Testimonials -------------------------------- */

.review-container {
  background: rgb(232, 243, 249);
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  border-bottom: 1px solid rgb(172, 190, 200);
  width: 70%;
  display: flex;
  margin: 0 auto;
}

#last {
  border-bottom: none;
}

.rating {
  /* border-right: 1px solid #000; */
  background: rgb(212, 226, 234);
  /* border-bottom: 1px solid #000; */
  padding: 0 0 0 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.review-content {
  background: rgb(200, 215, 223);
  /* border-bottom: 1px solid #000; */
  padding: 20px 20px;
  width: 80%;
}

.button-container {
  padding-top: 30px;
}

h5 {
  font-family: 'Lato', sans-serif;
  color: rgb(107, 107, 107);
  font-size: 1.1em;
  padding-bottom: 10px;
}

h6 {
  color:rgba(14, 12, 37);
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 10px;
}

.date {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  padding-top: 10px;
  color: rgb(143, 157, 164);
}

.rating ul li i {
  color: rgb(239, 173, 40);
}

/* --------------------------- Footer -------------------------------- */

footer {
  background: rgb(40,190,220);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  padding: 0 0;
  width: 100%;
  height: 250px;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.logotaglinecontainer {
  width: 20%;
}

.listfooter {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.my-info {
  width: 90%;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.my-info li a {
  color: white;
  padding-left: 10px;
  font-size: 1.2em;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 1em;;
}

footer input {
  width: 100%;
  height: 35px;
}

form {
  display:flex;
  flex-direction:row;
  border:1px solid rgb(21, 124, 159);
}

input {
  flex-grow:2;
  padding: 10px;
  border:none;
}

form button i {
  font-size: 1.3em;
}

input:focus {
  outline: none;
}

form:focus-within { 
  outline: 1px solid rgb(21, 124, 159);
}

button {
  border: none;
  background: white;
  color: rgb(248, 137, 27);
}

/*------------------------------------ Carousel --------------------------------------*/
/* Main Wrapper Container */
.container-slider {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

/* Slider Container which contains images */
.slides {
  position: relative;
  width: 100%;
  height: 100%
}

/* Default Image Properties */
.slides img {
  position: absolute;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  /* transform: scale(0);
  transition: all 0.5s ease-in;
  transition-delay: 500ms; */
}

/* Active Image or Current image to display */
.slides > img[data-active] {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Image Slider Next And Previous Buttons */
.btn-slide {
  position: absolute;
  background: #f1f1f1;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  border: 1px solid rgba(34, 34, 34, .3);
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.btn-slide > i {
  width: 100%;
} 
/* Show Buttons when user hover on the slider Container */
.container-slider:hover > .btn-slide {
  opacity: 1;
}

/* Previous and Next Button Position Absolute */
.prev, 
.next {
  top: 50%;
  transform: translateY(-60%);
}

.prev {
  left: 20px;
}
.next {
  right: 20px;
}

/* Button Dots Container */
.container-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

/* Single dot style */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}

/* Change the color of bg when user hover on it */
.dot:hover {
  opacity: .9;
  background: rgb(32, 32, 32);
}

/* Current or active dot */
.dot[data-active="true"] {
  background: rgb(32, 32, 32);
}

/*********************************************************************************
/* MEDIA QUERIES
/**********************************************************************************/

@media screen and (max-width: 450px) {
  .links {
    display: none;
  }
  nav {
    width: 100%;
    float: right;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 0 0;  
  }
  main h1 {
    font-size: 3em;
    line-height: 55px;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255,255,255,0) 80%), url('brooke-lark-08bOYnH_r_E-unsplash.jpg');
    background-size: cover;
    background-position-x: left;
    height: 500px;
  }
  .input-field {
    width: 60%;
  }
  .socialMedia {
    float: right;
    margin-top: 25px;
    margin-right: 15px;
  }
  .socialMedia li {
    padding-left: 25px;
    padding-right: 0px;
  }
  .pie {
    display: none;
  }
  .aboutUs section + section {
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, .5) 10%, rgba(255,255,255,1) 100%), url('oatmealcrop.jpg') no-repeat;
    background-size: contain;
    background-position-x: right;
    float: left;
    height: 540px;
    padding: 5% 5% 5% 5%;
  }
  
  h3 {
    font-size: 2.25em;
    padding: 3% 0 5% 0;
  }
  .foodPics {
    width: 150px;
    height: 200px;
    margin: 2% 0;
  }
  .foodPicsContainer {
    margin: 0% 10%;
  }
  .order ul {
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  .order li {
    padding: 10px 0px;
  }
  .order h2 {
    font-size: 2.15em;
  }
  h2, h4, .phoneNumber {
    text-align: center;
  }
  
  .bookTable i {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(248, 137, 27);
    color:rgba(248, 137, 27);
    border-radius: 50%;
    margin-left: 45%;
    margin-bottom: 1%;
  }
  
  .bookTable h2 {
    font-size: 2em;
    padding-bottom: 3%;
  }
  
  .hours div:first-child {
    width: 40%;
    float: left;
    margin-left: 10%;
  }
  
  .hours div:last-child {
    width: 40%;
    float: left;
    margin-left: 10%;
  }
  
  .hours div p:first-child {
    font-family: 'Lato', sans-serif;
    color:rgba(14, 12, 37);
    font-size: .95em;
  }
  
  .hours div p:last-child {
    font-family: 'Playfair Display', serif;
    color:rgba(14, 12, 37);
    font-size: 1em;
    font-weight: 600;
    padding: 2% 0 5% 0;
  }
  
  .phoneNumber {
    color:rgba(248, 137, 27);
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 5%;
  }
  .bookTable img {
    width: 75%;
    margin-left: 12%;
    margin-top: 5%
  }
  
  .bookTable span {
    padding-top: 5%;
  }
  
  .bookTable {
    background: rgba(248, 249, 251);
    padding: 5% 0;
  }
  
  .reviews img {
    margin-left: 38%;
  } 
  .reviews ul {
    display: flex;
    justify-content: center;
    margin-left: 0%;
  }
  
  .reviews p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    font-style: italic;
    line-height: 1.5em;;
    padding: 2% 15% 0 15%;
    color:rgba(14, 12, 37);
  }
  
  h6 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: grey;
    padding-bottom: 2%;
    font-size: .95em;
  }
  
  h5 {
    color:rgba(14, 12, 37);
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
}
/* ------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .fa-bars {
    display: none;
  }
}